<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>사용자가 보낸 이미지들</title>
    <style>
        .image {
            max-width: 300px; /* 이미지의 최대 너비를 500px로 설정 */
            max-height: 300px; /* 이미지의 최대 높이를 500px로 설정 */
        }
    </style>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {% if images %}
        {% for image in images %}
            <div class="card" style="text-align: center;">
                <img src="data:image/jpeg;base64,{{ image.image_blob|safe }}" style="margin:auto;" class="card-img-top image" alt="Image">
                <div class="card-body">
                    <h4 class="card-title">AI를 이용한 이미지 색 판별 결과 : {{image.image_result}}</h4>
                    <h4 class="card-text">사용자의 ID: {{ image.user_id }}</h4>
                    <h4>사용자의 색각이상 Type : {{image.user_type}}</h4>
                    
                    {% if image.red and image.green and image.yellow and image.blue %}
                        <h4>빨간색 비율: {{ image.red }}%</h4>
                        <h4>초록색 비율: {{ image.green }}%</h4>
                        <h4>황색 비율: {{ image.yellow }}%</h4>
                        <h4>청색 비율: {{ image.blue }}%</h4>
                    {% elif image.red and image.green %}
                        <h4>빨간색 비율: {{ image.red }}%</h4>
                        <h4>초록색 비율: {{ image.green }}%</h4>     
                    {% else %}
                        <h4>황색 비율: {{ image.yellow }}%</h4>
                        <h4>청색 비율: {{ image.blue }}%</h4>
                    {% endif %}
                    <a href="#" class="btn btn-primary">사진 보기</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    
    <h4><a href="/">홈페이지로 이동하기</a></h4>
    
</body>
</html>
